body{
    font-family: Muli, sans-serif;
    background-color: #888c9d7a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
}

html, body {
  overflow: auto;
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE 10+ */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari */
}